<section class="w-full min-h-screen flex items-center justify-center bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 text-white px-6 py-12">
    <div class="max-w-6xl w-full flex flex-col md:flex-row items-center justify-between gap-12">
      
     <!-- Texto à esquerda -->
    <div class="flex-1 text-center md:text-left">
        <h1 class="text-4xl sm:text-5xl font-extrabold mb-4">Olá<span class="text-indigo-400">.</span></h1>
        <h3 class="text-3xl sm:text-4xl text-indigo-400 font-semibold mb-4">Eu sou o Evilis</h3>
        <h2 class="text-4xl sm:text-5xl font-extrabold mb-4">Desenvolvedor de Software Full-Stack</h2>
        
        <div class="flex justify-center md:justify-start gap-6">
          <a href="#projetos" class="inline-block bg-indigo-500 hover:bg-indigo-600 text-white font-medium py-3 px-6 rounded-xl transition">
            Ver projetos
          </a>
          <a href="#resume" class="inline-block bg-transparent border-2 border-indigo-500 hover:bg-indigo-500 hover:text-white text-indigo-500 font-medium py-3 px-6 rounded-xl transition">
            Meu currículo
          </a>
        </div>
      </div>
  
      <!-- Imagem à direita -->
      <div class="flex-1 flex justify-center">
        <img 
          src="https://avatars.githubusercontent.com/u/69771563?s=400&u=f4bb039579d971023b776fecdc8a13c3e4e5bb27&v=4" 
          alt="Foto de Evilis" 
          class="w-96 h-w-96 object-cover rounded-full shadow-lg border-4 border-indigo-500"
        />
      </div>
      
    </div>
  </section>
  

  